@model IEnumerable<Student>
@{
    ViewData["Title"] = "Студенты";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.LastName)</th>
            <th>@Html.DisplayNameFor(s => s.FirstName)</th>
            <th>@Html.DisplayNameFor(s => s.MiddleName)</th>
            <th>@Html.DisplayNameFor(s => s.DateBirth)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
		{
            <tr>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.MiddleName</td>
                <td>@item.DateBirth</td>
            </tr>
		}
    </tbody>
</table>